:root {
    --accent-purple: #5c62ec;
    --accent-black: #171718;
    --color-white: #fff;
}

body {
    font-family: "fontDMsans", sans-serif;
    font-size: 16px;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
}

.container {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
    width: 100%;
}

.none {
    display: none;
}

.content__title {
    font-family: "fontDMsans";
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 1.3;
    letter-spacing: -0.5px;
    text-align: center;

    color: var(--accent-purple);
}
