*,
*::before,
*::after {
    box-sizing: border-box;
}

*,
h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

button,
input {
    border: none;
    outline: none;
}

p {
    margin: 0;
    padding: 0;
    line-height: inherit;
}

ul,
li {
    list-style: none;
}
