.header {
    color: var(--color-white);
    background-color: var(--accent-black);
    border-bottom: 1px solid #26292d;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;
}

.header__logo {
    font-size: 24px;
    line-height: 1;
}
